<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>yt-dlp Web Downloader</title>
  <style>
    body,html {
      height: 100%;
      margin: 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    form {
      display: flex;
    }

    input[ type='text'] {
      flex-grow: 1;
    }

    pre {
      flex-grow: 1;
      background: 'gray';
      overflow: auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <form id="download-form">
      <input type="text" id="url" placeholder="Enter video URL" required>
      <input type="checkbox" id="audio" name="audio" value="Audio Only">
      <label for="audio">Audio Only</label>
      <input type="checkbox" id="chapters" name="chapters" value="Chapters">
      <label for="chapters">Chapters</label>
      <button type="submit">Download</button>
    </form>
    
    <pre id="progress"></pre>
  </div>

  <script>
    document.getElementById('download-form').addEventListener('submit', function(e) {
      e.preventDefault();
      const url = document.getElementById('url').value;
      const audio = document.getElementById('audio').checked;
      const chapters = document.getElementById('chapters').checked;

      fetch('/start_download', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ url, audio, chapters })
      });

      const progressElem = document.getElementById('progress');
      progressElem.textContent = '';

      const evtSource = new EventSource('/progress');
      evtSource.onmessage = function(event) {
        progressElem.textContent += event.data + '\n';
      };
    } );
  </script>
</body>
</html>
